/jeejava59/nbproject/private/
/jeejava59/build/
/jeejava59/dist/
/JavaApplication98/nbproject/private/
/testJDBC/nbproject/private/
/testJDBC/dist/
/testJDBC/build/
/DBconn/nbproject/private/
/JdbcConnecton/nbproject/private/
/AutoCrateTable/nbproject/private/
/Bank/nbproject/private/
/AutoCrateTable/build/
